.icon-rollo-service{
	background-color: #FFF;
    width: 70px;
    float: left;margin: -5px 10px 10px 0;
}
.body{
  background-color: #fff;
  padding: 5px 10px;
}

.rollo-form{
	padding: 25px !important;
}
.rollo-form:focus{
	outline: 0;
    border-color: #76094f;  
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118,9,79,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118,9,79,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118,9,79,.6);
}

.page-header h1:after, .page-header h2:after {
    background-color: #30304d;
    margin-left: 30%;
    display: block;
    width: 40%;   
}
.form-horizontal .control-label{
	padding: 15px 1px;
	text-transform: uppercase;
    color: #282841;
    font-weight: bold;
}

.content{
    background-color: #FFF;
    padding: 20px;
}
aside{
    background-color: #FFF;
    padding: 10px 15px;
}
/*.testimonial-picture{
    float: right;
    width: 20%;    
}
.testimonial-name{
    font-weight: bold;
}

.testimonial-course{

}
.testimonial-text{
    display: block;
    margin: 25px 0 5px 0;
}*/
.carousel {
    margin: 50px auto;
}
.carousel .media {
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
}
.carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #8b0000;
    padding: 15px;
    margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
    background: #9b9b9b;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
    margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
    margin-left: 0;
}
.carousel .testimonial p {
    text-indent: 40px;
    line-height: 21px;
    margin: 0;
}
.carousel .testimonial p::before {
    content: '\94';
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}

.media-left{
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}
.media-body{
    display: table-cell;
    vertical-align: top;
}
.carousel .overview strong{
    text-transform: uppercase;
    color: #8b0000;   
}