.icon-rollo-service{
	background-color: #FFF;
    width: 70px;
    float: left;margin: -5px 10px 10px 0;
}
.body{
  background-color: #fff;
  padding: 5px 10px;
}

.rollo-form{
	padding: 25px !important;
}
.rollo-form:focus{
	outline: 0;
    border-color: #76094f;  
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118,9,79,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118,9,79,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(118,9,79,.6);
}

.page-header h1:after, .page-header h2:after {
    background-color: #30304d;
    margin-left: 30%;
    display: block;
    width: 40%;   
}
.form-horizontal .control-label{
	padding: 15px 1px;
	text-transform: uppercase;
    color: #282841;
    font-weight: bold;
}

.content{
    background-color: #FFF;
    padding: 20px;
}
aside{
    background-color: #FFF;
    padding: 10px 15px;
}
/*.testimonial-picture{
    float: right;
    width: 20%;    
}
.testimonial-name{
    font-weight: bold;
}

.testimonial-course{

}
.testimonial-text{
    display: block;
    margin: 25px 0 5px 0;
}*/
.carousel {
    margin: 50px auto;
}
.carousel .media {
    position: relative;
    padding: 0 0 0 20px;
    margin-left: 20px;
}
.carousel .media img {
    width: 75px;    
    display: block;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border: 2px solid #fff;
}
.carousel .testimonial {
    color: #fff;
    position: relative;    
    background: #8b0000;
    padding: 15px;
    margin: 0 0 20px 20px;
}
.carousel .testimonial::before, .carousel .testimonial::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.carousel .testimonial::before {
    width: 20px;
    height: 20px;
    background: #9b9b9b;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}
.carousel .testimonial::after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
}
.carousel .item .row > div:first-child .testimonial {
    margin: 0 20px 20px 0;
}
.carousel .item .row > div:first-child .media {
    margin-left: 0;
}
.carousel .testimonial p {
    text-indent: 40px;
    line-height: 21px;
    margin: 0;
}
.carousel .testimonial p::before {
    content: '\94';
    color: #fff;
    font-weight: bold;
    font-size: 68px;
    line-height: 70px;
    position: absolute;
    left: -25px;
    top: 0;
}

.media-left{
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}
.media-body{
    display: table-cell;
    vertical-align: top;
}
.carousel .overview strong{
    text-transform: uppercase;
    color: #8b0000;   
}

   /*Contact sectiom*/
.content-header{
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center; 
}
.section-content h3{
    color:#fff;
}

#contact{
  padding-top: 60px;
  width: 100%;
  width: 100%;
  /*height: 550px;  change it to your value depending on context*/
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , #89253e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186 , #89253e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
    opacity: 0.9;    
}
.contact-section{
  padding-top: 40px;
}
.button-box{
    width:100%;
    padding: 20px;
    text-align: center;
}
.button-box a{
  display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: normal;
    font-size: 1.8em;
    letter-spacing: 0.3em;
    color:rgba(74, 0, 30, 0.7);
    border-radius: 0;
    padding: 18px 40px 20px;
    transition: all 0.7s ease-out;
    background-image: linear-gradient(to right, #ffffff 0%, #757575 51%, #48002b 100%);
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(223,190,106,0.3);
}
.button-box a small{
    font-size: 65%;
}

.button-box a:hover {
  color: #fff;
  border: 1px solid rgba(223,190,106,0);
  color: #fff;
  background-position: right center;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0px;
}
/* New Timeline style */
.vertical-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.vertical-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#vertical-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#vertical-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #ffd7f7;
}
.vertical-timeline-content .btn {
  float: right;
}
#vertical-timeline.light-timeline:before {
  background: #e7eaec;
}
.dark-timeline .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent ;
}
.dark-timeline.center-orientation .vertical-timeline-content:before {
  border-color: transparent  transparent transparent #f5f5f5;
}
.dark-timeline .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before,
.dark-timeline.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
  border-color: transparent #f5f5f5 transparent transparent;
}
.dark-timeline .vertical-timeline-content,
.dark-timeline.center-orientation .vertical-timeline-content {
  background: #f5f5f5;
}
@media only screen and (min-width: 1170px) {
  #vertical-timeline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #vertical-timeline.center-orientation:before {
    left: 50%;
    margin-left: -2px;
  }
}
@media only screen and (max-width: 1170px) {
  .center-orientation.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
}
.vertical-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-block:first-child {
  margin-top: 0;
}
.vertical-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 4em 0;
  }
  .center-orientation .vertical-timeline-block:first-child {
    margin-top: 0;
  }
  .center-orientation .vertical-timeline-block:last-child {
    margin-bottom: 0;
  }
}
.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  text-align: center;
  background-color: #4c013c;
}
.vertical-timeline-icon i {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -9px;
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-icon {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
    background-color: #4c013c;
    color: #fff;
  }
  .center-orientation .vertical-timeline-icon i {
    margin-left: -12px;
    margin-top: -10px;
  }
  .center-orientation .cssanimations .vertical-timeline-icon.is-hidden {
    visibility: hidden;
  }
}
.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}
.vertical-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-content h2 {
  font-weight: 400;
  margin-top: 4px;
}
.vertical-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.vertical-timeline-content .vertical-date {
  float: left;
  font-weight: bold;
    font-size: 18px;
}
.vertical-date small {
  color: #1ab394;
  font-weight: 400;
}
.vertical-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .vertical-timeline-content h2 {
    font-size: 18px;
  }
  .vertical-timeline-content p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 40%;
  }
  .center-orientation .vertical-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .center-orientation .vertical-timeline-content .btn {
    float: left;
  }
  .center-orientation .vertical-timeline-content .vertical-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 2px;
    font-size: 25px;
    margin-top: 15px;
    font-weight: bold;
    color: #4c013c;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
    float: right;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .btn {
    float: right;
  }
  .center-orientation .vertical-timeline-block:nth-child(even) .vertical-timeline-content .vertical-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .center-orientation .cssanimations .vertical-timeline-content.is-hidden {
    visibility: hidden;
  }
}

.bg-primary {
  color: #fff;
  background-color: #428bca;
}
a.bg-primary:hover {
  background-color: #3071a9;
}
.bg-success {
  background-color: #dff0d8;
}
a.bg-success:hover {
  background-color: #c1e2b3;
}
.bg-info {
  background-color: #d9edf7;
}
a.bg-info:hover {
  background-color: #afd9ee;
}
.bg-warning {
  background-color: #fcf8e3;
}
a.bg-warning:hover {
  background-color: #f7ecb5;
}
.bg-danger {
  background-color: #f2dede;
}
a.bg-danger:hover {
  background-color: #e4b9b9;
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  text-align: center;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

ul.custom-nav {
    position: absolute;
    margin: 0;
    list-style:none;
    background: #222236;
}

ul.custom-nav li {
    display: inline-block;
    position: relative;
}
ul.custom-nav li:hover > ul {
    display: block;
}
ul.custom-nav ul {
    position: absolute;
    display: none;
    margin: 0;
    padding: 0 10px;
    background: #f9f9f9;
}
ul.custom-nav ul li {
    display: block;
    white-space: nowrap;
    padding: 5px;
}

ul.custom-nav ul li a{
  color: #000;  
}

ul.custom-nav ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    background: #f9f9f9;
}
/*************
 * EXTRA CSS
 *************/
ul.custom-nav a{
  color: #FFF;
  text-decoration: none;
  padding: 7px 10px;
}
ul.custom-nav a:hover {
  border-bottom: 1px dashed #FFF;
}

.hero-carousel article .contents {      
      text-shadow: -4px 4px 20px #000000;
  }


@media (max-width: 600px){
  .hero-carousel article .contents ol{
    display: none;
  }
  .hero-carousel article .contents {
      position: relative;
      top: 95px !important;
      text-shadow: -4px 4px 20px #000000;
  }
  .prices .price-column{
    width:100%;
    margin-bottom: 30px;
  }
  .prices .price-column ul li {
    min-height: 50px !important;    
  }
}